body{
    background-color: aqua;
}
#btn1
{
    background-color: blue;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    left: 0;
    right: 0%;
    top: 0%;
    padding: 0%;
    opacity: 0.6;

}